/**********************TAG SLECTORS************************/

a {
  color: #51C4D3;
  margin: 10px 20px;
}

a:hover {
  color: #D8E3E7;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {
  background-color: #D8E3E7;
}

h1 {
  color: #126E82;
  font-size: 5rem;
  line-height: 2;
  margin-top: 100px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #126E82;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #126E82;
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: #D8E3E7;
  border-style: none;
  border-top-style: dotted;
  border-color: #132C33;
  border-width: 5px;
  margin: 50px auto 50px auto;
  width: 5%;
}

p {
  color: #132C33;
  font-family: 'Montserrat', sans-serif;
}

/**********************Class SLECTORS************************/
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  background-color: #126E82;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.btn {
  background: #126E82;
  background-image: -webkit-linear-gradient(top, #126E82, #132C33);
  background-image: -moz-linear-gradient(top, #126E82, #132C33);
  background-image: -ms-linear-gradient(top, #126E82, #132C33);
  background-image: -o-linear-gradient(top, #126E82, #132C33);
  background-image: linear-gradient(to bottom, #126E82, #132C33);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 50px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #51C4D3;
  background-image: -webkit-linear-gradient(top, #51C4D3, #126E82);
  background-image: -moz-linear-gradient(top, #51C4D3, #126E82);
  background-image: -ms-linear-gradient(top, #51C4D3, #126E82);
  background-image: -o-linear-gradient(top, #51C4D3, #126E82);
  background-image: linear-gradient(to bottom, #51C4D3, #126E82);
  text-decoration: none;
}

.footer {
  color: #D8E3E7;
  font-size: 0.75rem;
}

.footer-link {
  color: #51C4D3;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  text-decoration: none;
}

.middle-container {
  padding: 100px 0px 0px;
  /* background-color: #126E82; */
}

.img {
  border-radius: 50%;
  height: 175px;
}

.intro {
  width: 40%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #98cfd6;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  line-height: 1.5;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

/*************************ID SLECTORS*************************/

#arduino {
  border-radius: 20%;
  float: right;
  margin-left: 30px;
}

#machine {
  border-radius: 25%;
  float: right;
  margin-left: 30px;
}

#pm {
  border-radius: 25%;
  float: left;
  margin-right: 30px;
}

#programming {
  float: left;
  margin-right: 30px;
}

#signoff {
  margin: 40px auto 60px;
}
